<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <connectionStrings>
    <add name="TravelConnection" connectionString="metadata=res://*/Models.TravelPlanner.csdl|res://*/Models.TravelPlanner.ssdl|res://*/Models.TravelPlanner.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ho9tqp4krd.database.windows.net;initial catalog=sagar-200272950;persist security info=True;user id=sagar-200272950;password=Jayumiya48;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" providerName="System.Data.sqlClient" connectionString="Data Source=ho9tqp4krd.database.windows.net;Initial Catalog=sagar-200272950;Persist Security Info=True;User ID=sagar-200272950;Password=Jayumiya48;MultipleActiveResultSets=True;Application Name=EntityFramework"/>
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <location path="admin">
    <system.web>
      <authorization>      
        <deny users="?"/>
        <allow roles="admin"/>
      </authorization>
    </system.web>
  </location>

  <location path="booking-info.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="admin"/>
      </authorization>
    </system.web>
  </location>
</configuration>